$colorBlue: #2f4a97;
$colorBlueSky: #dce5ff;
$colorBlueLight: #5e71ae;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorPeach: #faede1;
$colorDark: #333333;
$colorOrange: #e08860;
$colorSilver: #c7c7c7;