.b-footer {
  background-image: url(../images/footer-min.jpg);
  padding: 40px 0 10px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $breakpoint-smart) {
    padding: 30px 0 0;
    background-image: url(../images/footer-bg-mobile-min.png);
  }
}

ul {
  padding-top: 0;

  li {
    margin-bottom: 15px;
    padding-left: 0;

    &:before {
      display: none;
    }

    a {
      color: $colorWhite;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 25px;

      &:hover {
        color: $colorBlueSky;
      }
    }

    span {
      color: $colorWhite;
      font-size: 1.4rem;
      font-weight: 400;
    }

    @media (max-width: $breakpoint-smart) {
      margin-bottom: 10px;
    }
  }
}

.footer-logo {
  display: inline-block;
  width: 140px;

  @media (max-width: $breakpoint-smart) {
    width: 100px;
  }
}

.footer-wrap {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $breakpoint-smart) {
    padding-top: 20px;
    flex-direction: column;
  }
}

.footer-nav {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (max-width: $breakpoint-smart) {
    width: 100%;
    justify-content: flex-start;
  }
}

.b-nav__footer {
  display: flex;
  flex-wrap: wrap;
  width: 300px;

  li {
    width: 50%;
  }

  @media (max-width: $breakpoint-smart) {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.footer-contacts {
  width: 30%;

  h5 {
    color: $colorWhite;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  @media (max-width: $breakpoint-smart) {
    width: 100%;

    h5 {
      font-size: 1.8rem;
    }

    ul li a {
      font-size: 1.6rem;
    }
  }
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $breakpoint-smart) {
    width: 100%;
    justify-content: flex-start;

    li {
      width: 100%;

      &:last-child {
        text-align: center;

        span {
          color: #aaa;
        }
      }
    }
  }
}