.b-form {
  background: $colorWhite;
  padding: 50px 65px;
  width: 100%;
  max-width: 640px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;

  &:before {
    @extend .pseudo_element;
    width: 150px;
    height: 150px;
    background: #e088606e;
    border-radius: 50%;
    top: -25px;
    left: -25px;
    z-index: 0;
  }

  h3 {
    font-size: 3.6rem;
    font-weight: 700;
    color: #2f4a97;
    position: relative;
    display: none;
    line-height: 1.1;
    margin-bottom: 1rem;
    z-index: 1;
    

    @media (max-width: $breakpoint-smart) {
      font-size: 2.4rem;
    }
  }

  form {
    padding-top: 30px;

    @media (max-width: $breakpoint-smart) {
      padding-top: 15px;
    }
  }

  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
    color: $colorOrange;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 2;

    &:hover {
      color: $colorBlue;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
      transition: 300ms;
    }

    @media (max-width: $breakpoint-smart) {
      top: 20px;
      right: 20px;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 1.3;
    position: relative;
    z-index: 1;
    
    &.form-description {
      display: none;

      @media (max-width: $breakpoint-smart) {
      font-size: 1.4rem;
    }
    }
  }

  @media (max-width: $breakpoint-smart) {
    padding: 30px;
    border-radius: 20px;
  }
}

.error-msg {
  color: #d14414;
  margin-bottom: 0;
  display: none;
  font-size: 1.4rem;
}

.b-field {
  position: relative;
  width: 100%;
  margin-bottom: 15px;

  &__submit {
    text-align: right;
    margin-bottom: 0;

    button {
      padding: 20px 45px;
      margin-top: 15px;

      &:focus {
        background: #c4d2f2;
      }
    }

    @media (max-width: $breakpoint-smart) {
      text-align: center;

      button {
        width: 100%;
      }
    }
  }

  label {
    font-size: 1.4rem;
    line-height: 1.5;
    color: $colorBlack;
    display: block;
    cursor: pointer;

    &.transform {
      transition: 0.3s ease;
      transform: translateY(20px);

      &.active {
        transform: translateY(0px);
        color: $colorOrange;
      }
    }

    &.error {
      color: #d14414;
      font-size: 1.2rem;
    }
  }

  input[type="text"],
  input[type="email"] {
    border: 0;
    border-bottom: 1px solid $colorSilver;
    width: 100%;
    font-size: 1.6rem;

    &:focus {
      outline: none;
    }
  }

  textarea {
    border: 0;
    border-bottom: 1px solid $colorSilver;
    width: 100%;
    font-size: 1.6rem;
    min-width: 100%;
    max-width: 100%;
    height: 21px;
    transition: height 0.3s linear;

    &:focus {
      outline: none;
    }
  }

  label.active+textarea {
    height: 60px;
  }
}

#success-msg {
  text-align: center;
  padding: 50px 0;
  max-width: 430px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: none;

  h4 {
    font-size: 2.1rem;
    color: #2f4a97;
    margin-bottom: 1rem;
  }
}