html {
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: $colorBlack;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  background: $colorWhite;
  font-size: 10px;
  line-height: 1.3;


  &.opened-modal {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &__left {
    width: calc(100% - ((100% - 1200px) / 2));
    border-bottom-right-radius: 100px;

    .container {
      margin: 0 0 0 auto;
    }
  }

  &__right {
    width: calc(100% - ((100% - 1200px) / 2));
    margin: 0 0 0 auto;
    border-bottom-left-radius: 100px;

    .container {
      margin: 0;
    }
  }

  @media (max-width: $breakpoint-desktop) {
    max-width: 960px;

    &__left {
      width: calc(100% - ((100% - 960px) / 2));
      border-bottom-right-radius: 100px;

      .container {
        margin: 0 0 0 auto;
      }
    }

    &__right {
      width: calc(100% - ((100% - 960px) / 2));
      margin: 0 0 0 auto;
      border-bottom-left-radius: 100px;

      .container {
        margin: 0;
      }
    }
  }

  @media (max-width: $breakpoint-laptopS) {
    max-width: 100%;

    &__left {
      width: 100%;
      border-bottom-right-radius: 0;

      .container {
        margin: 0 auto;
      }
    }

    &__right {
      width: 100%;
      margin: 0 auto;
      border-bottom-left-radius: 0;

      .container {
        margin: 0 auto;
      }
    }
  }
}

p {
  font-size: 1.4rem;
  color: $colorBlack;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  font-size: 1.4rem;
  color: $colorBlue;
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: $colorBlueLight;
  }
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}




.flex {
  display: flex;
  flex-wrap: wrap;
}

.pseudo_element {
  content: '';
  display: block;
  position: absolute;
}

.fadein_animation {
  opacity: 0;
  transform: translateY(40px);
}

.b-main {
  padding-top: 120px;
  overflow: hidden;

  @media (max-width: $breakpoint-laptopL) {
    padding-top: 85px;
  }

  @media (max-width: $breakpoint-smart) {
    padding-top: 70px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 900;
  color: $colorBlue;
  border: 0;
  border-radius: 40px;
  outline: none;
  transition: .3s linear;
  padding: 25px 45px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(0.95);

  &:hover {
    transform: scale(1);
  }

  &:focus {
    box-shadow: none;
    background: #c4d2f2;
  }

  &-sky {
    background-color: $colorBlueSky;
  }

  &-peach {
    background-color: $colorPeach;

    &:focus {
      box-shadow: none;
      background: $colorPeach;
    }

  }

  @media (max-width: $breakpoint-laptopL) {
    padding: 20px 40px;
  }
}


ul {
  padding-top: 10px;
  margin-bottom: 10px;

  li {
    position: relative;
    padding-left: 20px;
    font-size: 1.6rem;

    &:before {
      @extend .pseudo_element;
      width: 7px;
      height: 7px;
      background-color: $colorBlue;
      border-radius: 50%;
      top: 7px;
      left: 0;
    }
  }
}

/*slider styles*/
.custom-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .slick-list {
    width: 100%;
    order: 0;
    margin-bottom: 20px;

    .slick-track {
      height: 100%;
      margin-left: -10px;
    }
  }

  .slick-prev {
    order: 1;
  }
}

.slick-prev,
.slick-next {
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  transform: translateY(-40px);
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.prefix__cls-2 {
  fill: red;
}

.slick-next {
  right: -45px;
  background-image: url(../images/next.svg);
}

.slick-prev {
  left: -55px;
  background-image: url(../images/back.svg);
}

.slick-dots {
  margin: 0 20px;
  padding: 0;
  display: flex;

  li {
    margin: 0 5px;

    &.slick-active {
      button {
        width: 20px;
        background-color: $colorBlue;
      }
    }

    button {
      font-size: 0;
      border: 0;
      background-color: $colorBlue;
      background-color: #cac6cf;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      transition: 0.2s linear;
      outline: none;
      cursor: pointer;
    }
  }

}

.svgMap-map-wrapper {
  background: #304a98;
}

.svgMap-map-wrapper .svgMap-map-controls-wrapper {
  display: none;
}

.svgMap-map-wrapper .svgMap-country {
  stroke: #cdcdcd;
}

.svgMap-map-wrapper .svgMap-country.svgMap-active,
.svgMap-map-wrapper .svgMap-country:hover {
  stroke: #ffffff;
}

.svgMap-map-wrapper .svgMap-country.active {
  stroke: #ffffff;
  fill: #91a6e9;
  transition: 300ms;
}