.b-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 40px 0 0;
  z-index: 9;
  background: $colorWhite;
  transition: 0.3s;

  .header-stick & {
    height: 70px;
    padding: 30px 0 0;
    box-shadow: 0px 0px 5px 0px #e7e7e7;

    .logo {
      width: 100px;
    }

    .b-header-nav a:after {
      width: 5px;
      height: 5px;
      bottom: -2px;

      @media (max-width: $breakpoint-desktop) {
        width: 7px;
        height: 7px;
        bottom: auto;
        left: 25px;
        right: auto;
        top: 12px;
        margin: auto;
        background: $colorWhite;
      }

      @media (max-width: $breakpoint-smart) {
        display: none;
      }
    }

    @media (max-width: $breakpoint-laptopL) {
      padding: 25px 0 0;
    }

    .menu-btn {
      width: 30px;
      height: 30px;
      top: 20px;
      right: 15px;
    }
  }

  &__wrap {
    @extend .flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .logo {
    width: 160px;
    height: auto;
    display: inline-block;

    @media (max-width: $breakpoint-smart) {
      width: 100px;
    }
  }

  @media (max-width: $breakpoint-laptopL) {
    height: 80px;
    padding: 25px 0 0;
  }

  @media (max-width: $breakpoint-smart) {
    height: 70px;
    padding: 25px 0 0;
  }
}

.header-nav-wrap {

  .menu-btn-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    color: #fff;
    background: transparent;
    border: 0;
    outline: none;

    &:hover {
      color: $colorBlueSky;
    }

  }

  @media (max-width: $breakpoint-desktop) {
    background: #3f669f;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 100px 0 50px;
    overflow: scroll;
    display: none;
    z-index: 3;

    svg {
      width: 25px;
      height: 25px;
      fill: currentColor;
    }

    .menu-btn-close {
      display: block;
    }
  }

  @media (max-width: $breakpoint-smart) {
    background: rgba(63, 102, 159, .98);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 85px 0 30px;

    svg {
      width: 25px;
      height: 25px;
      fill: currentColor;
    }

    .menu-btn-close {
      right: 15px;
    }
  }
}

.b-header-nav {

  a {
    font-size: 1.4rem;
    font-weight: 500;
    color: $colorBlue;
    margin-left: 45px;
    position: relative;
    padding-bottom: 7px;
    display: inline-block;
    position: relative;

    &:after {
      @extend .pseudo_element;
      width: 7px;
      height: 7px;
      background: $colorBlue;
      border-radius: 50%;
      bottom: -12px;
      left: 0;
      right: 0;
      margin: auto;
      transition: 0.3s;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }

    @media (max-width: $breakpoint-laptopL) {
      &:after {
        bottom: -7px;
      }
    }

    @media (max-width: $breakpoint-desktop) {
      display: block;
      margin-left: 0;
      padding-left: 50px;
      color: #fff;
      font-size: 2.1rem;
      margin-bottom: 1rem;

      &:after {
        bottom: auto;
        left: 25px;
        right: auto;
        top: 12px;
        margin: auto;
        background: $colorWhite;
      }
    }

    @media (max-width: $breakpoint-smart) {
      margin: 0 !important;
      padding: 10px 10px 10px 30px;
      border-bottom: 1px solid #5280c4;
      border-top: 1px solid #5280c4;

      &:after {
        display: none;
      }
    }
  }
}

.menu-btn {
  display: none;
  border: 0;
  background: transparent;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 25px;
  top: 25px;
  color: $colorBlack;
  transition: 300ms;
  outline: none;

  &:hover {
    color: $colorBlue;
  }

  svg {
    fill: currentColor;
  }

  @media (max-width: $breakpoint-desktop) {
    display: block;
  }

  @media (max-width: $breakpoint-smart) {
    width: 30px;
    height: 30px;
    top: 20px;
    right: 15px;
  }
}

.header-action-buttons {
  border-radius: 20px;
  display: inline-block;
  margin-bottom: -15px;
  margin: 0 0 -15px 30px;
  transform: translateY(-15px);

  button {
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 0;
    transition: 300ms;
    font-size: 1.2rem;
    font-weight: 700;
    color: $colorBlue;
    background: $colorBlueSky;
    min-width: 130px;
    outline: none;
    cursor: pointer;

    &:first-child {
      margin-right: 10px;

      @media (max-width: $breakpoint-desktop) {
        margin-right: 0;
      }
    }


    &.active {
      background: $colorWhite;
      box-shadow: 0 0 20px 0 rgba(67, 73, 186, 0.2);
    }

    @media (max-width: $breakpoint-desktop) {
      width: calc(100% - 30px);
      border-radius: 20px;
      margin-top: 15px;
    }
  }

  @media (max-width: $breakpoint-smart) {
    margin: 0;
    padding: 20px;
    width: 100%;

    button {
      width: 100%;
      height: 4.4rem;
      border-radius: 25px;
      font-size: 1.4rem;
    }
  }

  .home-page & {
    display: none;

    @media (max-width: $breakpoint-desktop) {
      display: block;
    }

  }

  .home-page.show-action-buttons & {
    display: block;
  }
}

.header-nav-wrap {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-desktop-start) {
    display: flex !important;
  }

  @media (max-width: $breakpoint-desktop) {
    display: none;
  }
}

.service-page {
  .b-header-nav a {
    margin-left: 30px;
  }
}