.section-insighter {
  position: relative;
  z-index: 2;

  @media (max-width: $breakpoint-desktop) {
    background: $colorPeach;
  }
}

.container-insighter {
  background-color: $colorPeach;
  min-height: 550px;
  padding: 65px 50px 100px 65px;
  @extend .animationTranslateRight;

  h3 {
    font-size: 3.6rem;
    font-weight: 700;
    color: $colorBlue;
    margin-bottom: 3.6rem;
  }

  @media (max-width: $breakpoint-laptopL) {
    padding: 45px 50px 55px 65px;
    min-height: 450px;
  }

  @media (max-width: $breakpoint-desktop) {
    border-radius: 0;
  }

  @media (max-width: $breakpoint-smart) {
    padding: 35px 15px 35px 15px;
    min-height: auto;

    h3 {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
}



.why-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  .slick-list {
    width: 100%;
    order: 0;
    margin-bottom: 20px;

    .slick-track {
      height: 100%;
      margin-left: -10px;

      @media (max-width: $breakpoint-smart) {
        margin-left: 0;
      }
    }
  }
}

.b-card {
  padding: 50px 70px;
  margin: 0 10px;
  background-color: $colorWhite;
  outline: none;

  &__number {
    font-size: 7rem;
    font-weight: 700;
    color: $colorBlueSky;
    line-height: 1;
    margin-bottom: 10px;
    display: inline-block;
  }

  &__title {
    font-size: 2.4rem;
    line-height: 1.1;
    font-weight: 700;
    color: $colorBlue;
    margin-bottom: 20px;

  }

  @media (max-width: $breakpoint-laptopL) {
    padding: 35px;

    &__number {
      font-size: 5rem;
    }

    &__title {
      font-size: 2.1rem;
      margin-bottom: 15px;

    }
  }

  @media (max-width: $breakpoint-smart) {
    padding: 30px 25px;
    margin: 0;


    &__number {
      font-size: 4rem;
    }

    &__title {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
  }
}