.section-projects {
  padding: 200px 0 100px;
  margin-top: -100px;
  background-image: url("../images/track-min.jpg");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media (max-width: $breakpoint-smart) {
    padding: 130px 0 50px;
  }
}

.container-projects {
  position: relative;
}

.diagrame-wrap {
  position: relative;
}

.diagrame {
  position: relative;
  width: 550px;
  margin: 0 auto;
  z-index: 2;

  svg {
    path {
      transition: 0ms;
    }
  }

  @media (max-width: $breakpoint-laptopL) {
    width: 500px;
  }

  @media (max-width: $breakpoint-laptopS) {
    width: 400px;
    margin: 30px 0 0 auto;
  }

  @media (max-width: $breakpoint-smart) {
    width: 75%;
    margin: 0 auto;
  }
}

.st0 {
  transform: translate(3px, -4px) scale(1.03);
  opacity: 0;
}

.st1 {
  transform: translate(-15px, -12px) scale(1.03);
  opacity: 0;
}

.st2 {
  transform: translate(1px, -9px) scale(0.98);
  opacity: 0;
}

.st3 {
  transform: translate(-10px, 1px) scale(1.03);
  opacity: 0;
}

.st4 {
  transform: translate(-12px, -4px) scale(1.03);
  opacity: 0;
}

.st5 {
  transform: translate(-8px, -12px) scale(1.03);
  opacity: 0;
}

.projects__title {
  font-size: 13rem;
  font-weight: 700;
  color: $colorBlue;
  text-align: center;
  @extend .animateBottomTranslate;

  @media (max-width: $breakpoint-laptopL) {
    font-size: 8rem;
  }

  @media (max-width: $breakpoint-smart) {
    font-size: 5rem;
  }
}

.projects__subtitle {
  font-size: 3.6rem;
  font-weight: 700;
  color: $colorBlue;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  @extend .animateBottomTranslate;

  @media (max-width: $breakpoint-laptopL) {
    font-size: 2.4rem;
    max-width: 400px;
  }

  @media (max-width: $breakpoint-smart) {
    font-size: 1.8rem;
    max-width: 340px;
  }
}

.animate {
  .projects__title {
    animation: translateBottom 0.7s 0.3s forwards;
  }

  .projects__subtitle {
    animation: translateBottom 0.7s 0.5s forwards;
  }
}

.b-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &__item {
    width: 300px;
    position: absolute;
    opacity: 0;

    &.active:before {
      border-color: #81b2ff !important;
    }

    &.item-healthcare {
      top: 200px;
      right: 0;

      h5:before {
        background-color: #1a499b;
      }

      &:before {
        @extend .pseudo_element;
        width: 72px;
        height: 20px;
        transform: skewX(50deg);
        right: 101%;
        border-top: 2px solid #fff;
        border-right: 3px solid #fff;
      }

      @media (max-width: $breakpoint-laptopL) {
        top: 225px;

        &:before {
          width: 80px;
        }
      }
    }

    &.item-automotive {
      top: 415px;
      left: 90px;

      h5:before {
        background-color: #5872ac;
      }

      &:before {
        @extend .pseudo_element;
        left: 22px;
        width: 345px;
        height: 25px;
        transform: skewX(-50deg);
        right: 101%;
        border-top: 2px solid #fff;
        border-left: 3px solid #fff;
      }

      @media (max-width: $breakpoint-laptopL) {
        top: 380px;
      }
    }

    &.item-services {
      top: 290px;
      left: 50px;

      h5:before {
        background-color: #8d9abd;
      }

      &:before {
        @extend .pseudo_element;
        width: 290px;
        height: 20px;
        transform: skewX(-50deg);
        left: 22px;
        border-top: 2px solid #fff;
        border-left: 3px solid #fff;
      }

      @media (max-width: $breakpoint-laptopL) {
        top: 265px;
        left: 75px;
      }
    }

    &.item-industrial {
      top: 170px;
      left: 60px;

      h5:before {
        background-color: #d4cdd3;
      }

      &:before {
        @extend .pseudo_element;
        width: 305px;
        height: 20px;
        transform: skewX(-50deg);
        left: 22px;
        border-top: 2px solid #fff;
        border-left: 3px solid #fff;
      }

      @media (max-width: $breakpoint-laptopL) {
        top: 155px;
        left: 75px;
      }
    }

    &.item-oil {
      top: 75px;
      left: 80px;

      h5:before {
        background-color: #fdeee2;
      }

      &:before {
        @extend .pseudo_element;
        width: 380px;
        height: 20px;
        transform: skewX(-50deg);
        left: 22px;
        border-top: 2px solid #fff;
        border-left: 3px solid #fff;
      }

      @media (max-width: $breakpoint-laptopL) {
        top: 70px;
        left: 90px;
      }
    }

    &.item-agriculture {
      top: 45px;
      right: 45px;

      h5:before {
        background-color: #fff;
      }

      &:before {
        @extend .pseudo_element;
        width: 260px;
        height: 20px;
        transform: skewX(50deg);
        right: 101%;
        border-top: 2px solid #fff;
        border-right: 3px solid #fff;
        border-left: 3px solid #fff;
      }
    }

    @media (max-width: $breakpoint-laptopS) {
      position: relative;
      top: 0 !important;
      left: 0 !important;

      &.active {
        z-index: 3;
      }

      &:before {
        display: none !important;
      }
    }

    @media (max-width: $breakpoint-smart) {
      width: 100%;
      margin: 0 0 10px;
      background: #fff;
      padding: 0 15px 15px;
      border-radius: 5px;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    color: $colorBlue;
    position: relative;
    padding: 10px 15px 10px 40px;
    cursor: pointer;
    transition: 0.3s;

    span {
      display: inline-block;

      &.text {
        margin-right: 20px;
      }

      &.value {
        font-size: 3rem;
        transition: 300ms;

        &:after {
          content: "%";
          font-size: 2rem;
        }
      }
    }

    &:before {
      @extend .pseudo_element;
      width: 20px;
      height: 20px;
      top: 23px;
      left: 0;
    }

    .active & {
      .value {
        font-weight: 700;
      }
    }
  }

  &__description {
    background-color: #fff;
    border-bottom-right-radius: 35px;
    position: absolute;
    padding: 25px;
    width: 280px;
    left: 0;
    top: 60px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(10px);

    .active & {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    @media (max-width: $breakpoint-laptopS) {
      position: static;
      padding: 15px;
      width: 300px;
      border-bottom-right-radius: 0;
      display: none;

      .active & {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        display: block;
      }
    }

    @media (max-width: $breakpoint-smart) {
      position: static;
      padding: 0;
      width: 100%;
      display: block;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: $breakpoint-smart) {
    position: relative;
  }
}