.section-geographies {
  background-color: $colorBlue;
  padding: 150px 0 200px;

  @media (max-width: $breakpoint-laptopL) {
    padding: 100px 0;
  }

  @media (max-width: $breakpoint-desktop) {
    padding: 80px 0 50px;
  }

  @media (max-width: $breakpoint-smart) {
    padding: 35px 0;
  }

  &__title {
    color: $colorBlueLight;
    line-height: 1.05;
    position: absolute;
    bottom: -165px;
    left: 105px;
    transform: rotate(-90deg) translateX(-70px);
    display: block;
    transform-origin: left;
    font-size: 12rem;
    z-index: 3;
    opacity: 0;

    span {
      display: block;
    }

    .animate & {
      animation: fadeCoverTitle 0.7s 0.2s forwards;

      @media (max-width: $breakpoint-desktop) {
        animation: fadeCoverTitleDesctop 0.7s 0.2s forwards;
      }
    }

    @media (max-width: $breakpoint-laptopL) {
      font-size: 9rem;
      bottom: -15px;
    }

    @media (max-width: $breakpoint-desktop) {
      position: relative;
      bottom: auto;
      opacity: 0;
      left: auto;
      transform: rotate(0deg) translate(0px, 70px);
      display: block;
      font-size: 7rem;
      margin-bottom: 20px;

      span {
        display: inline-block;
      }
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: 5rem;
    }

    @media (max-width: $breakpoint-smart) {
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }
  }

  &__subtitle {
    color: $colorWhite;
    font-size: 2.4rem;
    font-weight: 500;
    width: 100%;
    max-width: 420px;
    margin-bottom: 60px;
    @extend .animateBottomTranslate;

    .animate & {
      animation: translateBottom 0.7s 0.6s forwards;
    }

    @media (max-width: $breakpoint-laptopL) {
      margin-bottom: 15px;
    }

    @media (max-width: $breakpoint-desktop) {
      max-width: 720px;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: 2.1rem;
      margin-bottom: 100px;
    }

    @media (max-width: $breakpoint-smart) {
      font-size: 1.6rem;
      margin-bottom: 30px;
    }
  }
}

.container-geographies {
  padding-left: 150px;
  position: relative;

  @media (max-width: $breakpoint-desktop) {
    padding-left: 0;
  }
}

.map-wrap {
  padding-left: 70px;
  opacity: 0;

  @media (max-width: $breakpoint-laptopL) {
    padding-left: 0;
  }


  .animate & {
    animation: fadeIn 0.7s 0.8s forwards;
  }
}