.section-intro {
  padding-top: 0;
  padding-bottom: 0;

  &.animate {
    .intro {
      h1 {
        animation: translateBottom 0.7s 0.7s forwards;
      }

      p {
        animation: translateBottom 0.7s 1.1s forwards;
      }

      button {
        &.btn-sky {
          animation: fadeIn 0.8s 1.5s forwards;
        }

        &.btn-quote {
          animation: fadeIn 0.8s 1.6s forwards;
        }
      }
    }
  }
}

.container-intro {
  position: relative;
  background-image: url('../images/preloader.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 9px 0px rgba(67, 73, 186, .2);
  height: calc(100vh - 120px);
  min-height: 650px;
  align-items: center;
  overflow: hidden;
  @extend .flex;
  //@extend .animationTranslateLeft;

  &:after {
    @extend .pseudo_element;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 199, 199, 0.64);
    z-index: 0;

  }

  #intro-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0;
  }

  @media (max-width: $breakpoint-laptopL) {
    min-height: 565px;
    height: calc(100vh - 85px);
  }

  @media (max-width: $breakpoint-desktop) {
    height: 75vh;

    #intro-video {
      max-width: inherit;
      max-height: 100%;
    }
  }

  @media (max-width: $breakpoint-tablet) {}

  @media (max-width: $breakpoint-smart) {
    height: 80vh;
    min-height: 350px;
    background-image: url('../images/bg-mobile-min.png');

    #intro-video {
      display: none;
    }
  }
}

.intro {
  width: 100%;
  max-width: 710px;
  position: relative;
  z-index: 1;

  h1 {
    font-size: 5rem;
    color: $colorBlue;
    font-weight: 700;
    margin-bottom: 60px;
    @extend .animateBottomTranslate;
  }

  p {
    font-size: 3rem;
    margin-bottom: 60px;
    @extend .animateBottomTranslate;
  }

  button {
    opacity: 0;

    &.btn-sky {
      margin-right: 50px;
    }
  }

  @media (max-width: $breakpoint-laptopL) {
    h1 {
      font-size: 4.5rem;
      margin-bottom: 40px;
    }

    p {
      font-size: 2.4rem;
      margin-bottom: 40px;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    h1 {
      font-size: 4rem;
      margin-bottom: 25px;
      max-width: 600px;
    }

    p {
      font-size: 2.1rem;
      margin-bottom: 30px;
      max-width: 600px;
    }
  }

  @media (max-width: $breakpoint-smart) {
    h1 {
      font-size: 2.8rem;
      margin-bottom: 25px;
    }

    p {
      font-size: 1.8rem;
    }

    button {
      width: 100%;

      &.btn-sky {
        margin-right: 0;
      }
    }
  }
}