.section-services {
  padding-top: 110px;
  padding-bottom: 125px;

  @media (max-width: $breakpoint-laptopL) {
    padding-bottom: 75px;
  }

  @media (max-width: $breakpoint-desktop) {
    padding-top: 75px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: $breakpoint-smart) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.container-services {
  position: relative;
  padding-left: 100px;
  min-height: 750px;

  h2 {
    position: absolute;
    bottom: -70px;
    opacity: 0;
    left: 40px;
    transform: rotate(-90deg);
    display: block;
    transform-origin: left;
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $colorPeach;
  }

  @media (max-width: $breakpoint-laptopL) {
    min-height: 700px;

    h2 {
      font-size: 9rem;
    }

  }

  @media (max-width: $breakpoint-desktop) {
    min-height: auto;
    padding-left: 0;

    h2 {
      position: relative;
      bottom: auto;
      opacity: 0;
      left: auto;
      transform: rotate(0deg);
      display: block;
      font-size: 7rem;
    }

  }

  @media (max-width: $breakpoint-tablet) {
    h2 {
      font-size: 5rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: $breakpoint-smart) {
    h2 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
      animation: fadeBottom 0.7s 2.5s forwards;
    }
  }
}

.services-list {
  @extend .flex;
  justify-content: space-between;

  li {
    width: calc(50% - 15px);
    min-width: 300px;
    margin-bottom: 0;
    padding: 0;
    border-bottom-right-radius: 30px;
    transition: 0.3s;
    @extend .animateBottomTranslate;

    &>a {
      padding: 25px 45px 45px;
      display: inline-block;
      outline: none;
    }

    &:hover {
      background-color: $colorBlueSky;
    }

    &.active {
      background-color: $colorBlueSky;
    }


    .icon-wrap {
      display: block;
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      margin-bottom: 25px;

      @media (max-width: $breakpoint-laptopL) {
        width: 65px;
        height: 65px;
      }

      @media (max-width: $breakpoint-smart) {
        width: 55px;
        height: 55px;
      }

      &.icon-online {
        background-image: url('../images/online.svg');
      }

      &.icon-network {
        background-image: url('../images/expert-network.svg');
      }

      &.icon-depth {
        background-image: url('../images/in-depth.svg');
      }

      &.icon-market {
        background-image: url('../images/market.svg');
      }
    }

    h4 {
     
        font-size: 2.4rem;
        font-weight: 700;
        color: $colorBlue;
        text-transform: uppercase;

        &:hover {
          color: $colorBlueLight;
        }
      

      margin-bottom: 1.8rem;

      @media (max-width: $breakpoint-laptopL) {
        margin-bottom: 1.5rem;
        font-size: 2.1rem;
      }

      @media (max-width: $breakpoint-smart) {
        font-size: 1.8rem;
      }
    }

    p {
      color: $colorDark;
      margin-bottom: 4.5rem;

      @media (max-width: $breakpoint-mac) {
        margin-bottom: 3.5rem;
      }

      @media (max-width: $breakpoint-laptopL) {
        margin-bottom: 2.5rem;
      }

      @media (max-width: $breakpoint-smart) {
        margin-bottom: 1.5rem;
      }
    }

    span {
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: $colorBlue !important;
      position: relative;
      padding-right: 20px;
      display: inline-block;


      &:after {
        @extend .pseudo_element;
        width: 18px;
        height: 18px;
        background-image: url('../images/next.svg');
        bottom: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px 12px;
        transition: 0.3s;
      }

      &:hover {
        color: $colorBlueLight !important; 

        &:after {
          transform: translateX(10px);
        }
      }

      @media (max-width: $breakpoint-laptopL) {
        margin-bottom: 1.5rem;
      }

      @media (max-width: $breakpoint-smart) {
        padding-right: 0;

        &:after {
          width: 10px;
          height: 10px;
          bottom: 0;
          right: 0;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 10px 10px;
          transition: 0.3s;
          display: inline-block;
          position: relative;
          margin-left: 5px;
        }
      }
    }

    @media (max-width: $breakpoint-mac) {
      &>a {
      padding: 25px 45px 20px;
     }

      p {
        color: $colorDark;
        margin-bottom: 3.5rem;
      }
    }

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      
      border-bottom: 1px solid $colorBlueSky;
      border-bottom-right-radius: 0;
      &>a {
      padding: 35px 45px 30px;
     }
    }

    @media (max-width: $breakpoint-smart) {
      
      &>a {
      padding: 25px 25px 10px;
     }
    }
  }

}

.animate {
  .container-services h2 {
    animation: fadeBottom 0.7s 0.3s forwards;

    @media (max-width: $breakpoint-desktop) {
      animation: fadeBottom 0.5s 0s forwards;
    }

    @media (max-width: $breakpoint-smart) {
      animation: none;
      opacity: 1;
      bottom: 0;
    }
  }

  .container-services .services-list {
    li {
      &:nth-child(1) {
        animation: translateBottom 0.7s 0.3s forwards;
      }

      &:nth-child(2) {
        animation: translateBottom 0.7s 0.5s forwards;
      }

      &:nth-child(3) {
        animation: translateBottom 0.7s 0.7s forwards;
      }

      &:nth-child(4) {
        animation: translateBottom 0.7s 0.9s forwards;
      }
    }
  }

}