.section-clients {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  h3 {
    font-size: 3.6rem;
    color: $colorBlue;
  }

  @media (max-width: $breakpoint-desktop) {
    padding-bottom: 0;
  }

  @media (max-width: $breakpoint-desktop) {
    padding-top: 35px;

    h3 {
      font-size: 3rem;
    }
  }

}

.clients-slider-wrap_left {
  width: 55%;
  position: relative;
  z-index: 2;
  padding-top: 10px;
  @extend .animationTranslateLeft;

  @media (max-width: $breakpoint-desktop) {
    width: 100%;
  }
}

.clients-slider-wrap_right {
  width: 50%;
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 1;
  @extend .animationTranslateRight;

  .custom-dots {
    justify-content: flex-start;
  }

  @media (max-width: $breakpoint-desktop) {
    top: 0;
  }

  @media (max-width: $breakpoint-smart) {
    display: none;
  }
}

.slider-clients__images {

  .slick-slide {
    position: relative;
    height: calc(50vw * 0.7 + 1px);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $breakpoint-desktop) {
      height: calc(50vw * 0.6 + 1px);
    }
  }

  .slick-dots {
    margin-left: 150px;
  }

  @media (max-width: $breakpoint-laptopL) {
    padding-top: 70px;
  }
}

.clients-list {
  padding-top: 50px;
  width: 50%;
  opacity: 0;

  @media (max-width: $breakpoint-mac) {
    padding-top: 30px;
    padding-right: 40px;

  }

  @media (max-width: $breakpoint-desktop) {
    padding-top: 50px;
    margin-bottom: 60px;
  }

  @media (max-width: $breakpoint-smart) {
    padding-top: 30px;
    margin-bottom: 35px;
    padding-right: 0;
    width: 100%;
  }

  li {
    font-size: 2.4rem;
    color: #c7c7c7;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 60px;
    margin-bottom: 20px;
    line-height: 1.1;
    font-weight: 500;


    span {
      font-size: 2.4rem;
      color: #c7c7c7;
      margin-right: 40px;
      transition: 0.3s;
      cursor: pointer;
      position: absolute;
      left: 0;
    }

    &:hover,
    &.active {
      font-weight: 600;
      color: $colorBlue;

      span {
        font-weight: 600;
        color: $colorBlue;
      }
    }

    @media (max-width: $breakpoint-mac) {
      font-size: 2.1rem;

      span {
        font-size: 2.1rem;
      }
    }

    @media (max-width: $breakpoint-laptopL) {
      font-size: 1.8rem;
      margin-bottom: 15px;

      span {
        font-size: 1.8rem;
      }
    }

    @media (max-width: $breakpoint-laptopL) {
      font-size: 1.6rem;
      padding-left: 30px;

      span {
        font-size: 1.6rem;
      }
    }
  }
}

.slider-clients__description {
  padding-left: calc((100vw - 1170px)/2 - 50px);
  padding-top: 40px;
  padding-bottom: 65px;
  background: $colorBlueSky;
  min-height: 400px;
  border-bottom-right-radius: 50px;
  //opacity: 0;
  //transform: translateX(70px);

  .slick-list {
    width: 515px;

    @media (max-width: $breakpoint-laptopL) {
      width: 600px;
    }

    @media (max-width: $breakpoint-smart) {
      width: 100%;
    }

  }

  @media (max-width: $breakpoint-mac) {
    padding-bottom: 45px;
  }

  @media (max-width: $breakpoint-desktop) {
    border-bottom-right-radius: 0px;
  }

  @media (max-width: $breakpoint-smart) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.clients__description_item {
  width: 100%;
  max-width: 515px;
  padding-left: 112px;
  padding-top: 25px;
  position: relative;

  .num {
    position: absolute;
    font-size: 13rem;
    line-height: 1;
    top: 0;
    left: 0;
    color: #f6f5f5;
    font-weight: 700;
    left: 0;
    top: -10px;
    z-index: 0;

    @media (max-width: $breakpoint-laptopL) {
      font-size: 9rem;
      top: 0;
      left: 35px;
    }

    @media (max-width: $breakpoint-smart) {
      font-size: 4rem;
      top: 0;
      left: 0px;
      position: relative
    }
  }

  &.slick-current {
    &>h4 {
      opacity: 1;
      transition: 0.3s linear;
      transition-delay: 0.3s;
      transform: translateY(0);
    }

    .slide-content {
      opacity: 1;
      transition: 0.3s linear;
      transition-delay: 0.7s;
      transform: translateY(0);
    }

  }

  &>h4 {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.3;
    color: $colorBlueLight;
    margin-bottom: 40px;
    opacity: 0;
    transition: 0;
    transition-delay: 0;
    transform: translateY(15px);



    span {
      position: absolute;
      font-size: 13rem;
      line-height: 1;
      top: 0;
      left: 0;
      color: #f6f5f5;
      font-weight: 700;
      left: -105px;
      top: -35px;
      z-index: 0;
    }

    @media (max-width: $breakpoint-mac) {
      font-size: 2.1rem;
    }

    @media (max-width: $breakpoint-laptopL) {
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint-smart) {
      margin-bottom: 15px;
    }
  }

  .slide-content {
    opacity: 0;
    transition: 0;
    transition-delay: 0;
    transform: translateY(15px);
  }

  p {
    color: $colorBlack;
    font-size: 1.6rem;

    b {
      font-size: 2rem;
      font-weight: 2rem;
    }
  }

  ul {
    padding-top: 15px;

    li {
      position: relative;
      padding-left: 15px;
      font-size: 1.6rem;
      margin-bottom: 10px;
      color: $colorBlack;

      &:before {
        @extend .pseudo_element;

      }
    }
  }

  @media (max-width: $breakpoint-laptopL) {
    max-width: 600px;
  }

  @media (max-width: $breakpoint-smart) {
    padding-top: 0;
    padding-left: 15px;
    padding: 0 15px;
  }
}

ul {
  padding-top: 15px;

  li {
    position: relative;
    padding-left: 15px;
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: $colorBlack;

    &:before {
      @extend .pseudo_element;

    }
  }
}

.animate {

  .clients-list {
    animation: fadeIn 0.4s 0.2s ease forwards;
  }
}