@keyframes fadeInSlogan {
  0% {
    opacity: 0;
    transform: translateY(40px) rotate(-90deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(-90deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes translateLeft {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes translateRight {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeBottom {
  0% {
    opacity: 0;
    bottom: -70px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeCoverTitle {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateX(-70px);
  }

  100% {
    opacity: 1;
    transform: rotate(-90deg) translateX(0);
  }
}

@keyframes fadeCoverTitleDesctop {
  0% {
    opacity: 0;
    transform: rotate(0deg) translate(0px, 70px);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg) translate(0px, 0px);
  }
}


@keyframes translateButtons {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(70px);
  }

  100% {
    opacity: 1;
    transform: scale(0.95) translateY(0);
  }
}


@keyframes rotateDiagrame {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.animationTranslateLeft {
  opacity: 0;
  transform: translateX(-70px);

  .animate & {
    animation: translateLeft 0.7s ease forwards;
  }
}

.animationTranslateRight {
  opacity: 0;
  transform: translateX(70px);

  .animate & {
    animation: translateRight 0.7s ease forwards;
  }
}



.animateBottomTranslate {
  opacity: 0;
  transform: translateY(40px);
}

@keyframes translateBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin animateBottomTranslate($delay) {
    animation: translateBottom 0.7s $delay ease forwards;
}