$breakpoint-mac: 1440px;
$breakpoint-laptopL: 1366px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1199px;
$breakpoint-desktop-start: 1200px;
$breakpoint-laptopS: 960px;
$breakpoint-tablet: 768px;
$breakpoint-tabletS: 740px;
$breakpoint-smart: 575px;
$breakpoint-mobile: 369px;

@media (max-width: $breakpoint-laptopL) {
  .b-intro {
    &__content {
      min-height: 400px;

      h1 {
        font-size: 6.2em;
      }
    }
  }

  .b-modal__side--right {
    padding: 125px 75px 100px 60px;
  }

  .b-modal__side--left {
    padding: 125px 0 100px;
  }

  .page-template-default .b-main {
    padding: 125px 0 100px;
  }
}