#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(47, 74, 151, 0.7);
  z-index: 99;
  overflow: hidden;
  display: none;
}

.modal-wrap {
  overflow: scroll;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}