.section-clients-get {
  padding: 140px 0 0;
  background: #fff;
  overflow: hidden;

  h3 {
    font-size: 3.6rem;
    font-weight: 700;
    color: $colorBlue;
    margin-bottom: 10rem;
    text-align: center;
    @extend .animateBottomTranslate;

    &.animate {
      animation: translateBottom 0.7s 0.1s ease forwards;
    }
  }

   @media (max-width: $breakpoint-mac) {
      h3 {
    margin-bottom: 7rem;
  }
   }

  @media (max-width: $breakpoint-desktop) {
    h3 {
    margin-bottom: 5rem;
  }
  }

  @media (max-width: $breakpoint-smart) {
    h3 {
    font-size: 2.6rem;
  }
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 75px 0 0;
  }

  @media (max-width: $breakpoint-smart) {
    h3 {
    margin-bottom: 3rem;
  }
  }
}

.container-clients-get {
  padding-left: 15px;
  border-bottom-left-radius: 0;

  @media (max-width: $breakpoint-tablet) {
    padding-left: 0;
  }
}

.clients-get-wrap {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-tablet) {
   flex-direction: column;
  }
}
.clients-get-list {
  width: 650px;
  padding-right: 95px;

  @media (max-width: $breakpoint-desktop) {
    width: 500px;
    padding-right: 50px;
  }
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

  }
}
.clients-get-picture {
  position: relative;
  width: calc(100% - 650px);
   background-image: url('../images/client-g-bg-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(67, 73, 186, 0.2);;
  opacity: 0;
  transform: translateX(70px);

  &.animate {
  animation: translateRight 0.4s 0.3s linear forwards;
  }

  @media (max-width: $breakpoint-desktop) {
    width: calc(100% - 500px);
  }
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    height: calc(100vw * 0.56 + 1px);
    border-bottom-left-radius: 0;
    margin-top: 3rem;
  }
}

.bullet-xl-list {
  li {
    position: relative;
    padding-left: 100px;
    margin-bottom: 5rem;
    color: #333;
    font-size: 2rem;
    opacity: 0;
    transition: opacity .5s linear;

    strong {
      display: block;
      font-size: 2.4rem;
    }

    &:before {
      @extend .pseudo_element;
          width: 45px;
    height: 45px;
    background: #dce5ff;
    top: 0;
    bottom: 0;
    margin: auto;
    transform-origin:center;
    transform: scale(0);
    transition: transform .3s linear;
    }
    &:after {
      @extend .pseudo_element;
      background: #dce5ff;
          width: 2px;
    height: 0;
    left: 21px;
    top: 40px;
    transition: height .6s linear;
    }
    &:last-child {
      &:after {
      display: none;
    }
    }

  }

    &.animate {
      li {
       opacity: 1;

        &:before {
          transform: scale(1);
        }
    
        &:after {
          height: calc(100% + 50px);
        }

        &:first-child {
          transition-delay: .1s;

          &:before {
            transition-delay: .2s;
          }
    
          &:after {
            transition-delay: .5s;
          }
        }
        &:nth-child(2) {
          transition-delay: .6s;

          &:before {
            transition-delay: .7s;
          }
    
          &:after {
            transition-delay: 1s;
          }
        }
       
        &:nth-child(3) {
          transition-delay: 1.1s;

          &:before {
            transition-delay: 1.2s;
          }
    
          &:after {
            transition-delay: 1.6s;
          }
        }
         &:nth-child(4) {
          transition-delay: 1.7s;

          &:before {
            transition-delay: 1.8s;
          }
    
          &:after {
            transition-delay: 2.1s;
          }
        }
        &:nth-child(5) {
          transition-delay: 2.2s;

          &:before {
            transition-delay: 2.3s;
          }
    
          &:after {
            transition-delay: 2.5s;
          }
        }
      }
    }

    @media (max-width: $breakpoint-mac) {
      li {
        margin-bottom: 3rem;
        font-size: 1.6rem;
        strong {
          font-size: 2rem;
        }
      }
      &.animate {
      li {
        &:after {
          height: calc(100% + 30px);
        }
      }
      }
    }
    @media (max-width: $breakpoint-desktop) {
      li {
        padding-left: 75px;
      }
    }
  @media (max-width: $breakpoint-smart) {
      li {
        font-size: 1.4rem;
         padding-left: 50px;

        strong {
          font-size: 1.8rem;
        }

        &:before {
          width: 35px;
    height: 35px;
    }

    &:after {
    left: 17px;
    }
      }
      
    }

}