.section-action {
  padding: 215px 0 125px;

  @media (max-width: $breakpoint-laptopS) {
      padding: 180px 0 100px;
    }
        @media (max-width: $breakpoint-tabletS) { 
          padding: 120px 0 10px;
        }
}
.b-action {
  position: relative;
  width: 870px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &.animate {
    &:before {
      transform: scale(1);
    }

    h4 {
      animation: translateLeft 0.5s 0.2s linear forwards;
      &:before, &:after {
        opacity: 1;
      }
    }
    button {
      animation: fadeIn 0.2s 0.8s linear forwards;
    }

    }

    &:before {
      @extend .pseudo_element;
    left: 0;
    top: -85px;
    width: 230px;
    height: 230px;
    background-color: $colorPeach;
    border-radius: 50%;
    z-index: 0;
    transform-origin: center;
    transform: scale(0);
    transition: 1s;
    }

    h4 {
    padding: 0 185px 0 80px;
    position: relative;
    font-size: 3.6rem;
    color: #2f4a97;
    opacity: 0;
    transform: translateX(-70px);

    &:before {
    @extend .pseudo_element;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 2px;
    background-color: $colorPeach;
    z-index: 0;
    opacity:0;
    transition: opacity 0.2s 0.5s linear;
  }
&:after {
      @extend .pseudo_element;
      right: 0;
    top: 0;
    bottom:0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-top: 2px solid $colorPeach;
    border-right: 2px solid $colorPeach;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s 0.5s linear;
    }
    }
    button {
      margin: 0;
      opacity:0;
    }

    @media (max-width: $breakpoint-laptopS) {
      width: 100%;

      h4 {
        padding: 0 130px 0 80px;
      }
    }
    @media (max-width: $breakpoint-tabletS) {
      &:before {
    left: 0;
    top: -70px;
    width: 180px;
    height: 180px;
    }
    h4 {
        padding: 0 65px 0 45px;
        &:before {
    width: 40px;
  }
      }
    }
     @media (max-width: $breakpoint-tabletS) {
      &:before {
    left: 0;
    top: -45px;
    width: 120px;
    height: 120px;
    }
    h4 {
          width: 100%;
        font-size: 2.6rem;
    padding: 0 10px 0 45px;
    margin-bottom: 3rem;
    padding-bottom: 10rem;
       &:before {
    top: auto;
    left: 0;
    margin: auto;
    width: 2px;
    height: 45px;
  }
  &:after {
      top: auto;
      left:0;
      transform: rotate(135deg);
      }
      }

      button {
        width: 100%
      }
    }
}