.service-intro {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url('../images/banner-expert-network.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;

  &:after {
    @extend .pseudo_element;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 113, 181, 0.4);
    z-index: 0;
  }

  h1 {
    font-size: 7.2rem;
    font-weight: 700;
    color: $colorWhite;
    position: relative;
    z-index: 1;
    @extend .animateBottomTranslate;
    animation: translateBottom 0.7s 0.1s ease forwards;
  }

  @media (max-width: $breakpoint-laptopL)  {
    height: 275px;
  }
  @media (max-width: $breakpoint-laptopS)  {

    h1 {
    font-size: 5rem;
  }
  }
  @media (max-width: $breakpoint-smart)  {
    height: auto;
    min-height: 120px;

    h1 {
    font-size: 3rem;
    line-height: 1.1;
    padding: 25px 0;
  }
  }
}