.section-includes {
  padding: 135px 0 120px;
  overflow: hidden;

  @media (max-width: $breakpoint-laptopL)  {
    padding: 110px 0 120px;
  }
  @media (max-width: $breakpoint-laptopS)  {
    padding: 75px 0;
  }
  @media (max-width: $breakpoint-smart)  {
    padding: 50px 0 0;
  }
}
.container-includes {
padding-left: 15px;
border-bottom-left-radius: 0;
    display: flex;
    flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% - ((100% - 1200px) / 2));
    margin: 0 0 0 auto;


@media (max-width: $breakpoint-desktop) {
 width: calc(100% - ((100% - 960px) / 2));
}
@media (max-width: $breakpoint-laptopS)  {
    width: 100%;
    padding: 0;
  }
}


.includes-wrap {
  width: 500px;
  

  @media (max-width: $breakpoint-desktop) {
    width: 100%;
  }
  @media (max-width: $breakpoint-desktop) {
    padding: 0 15px;
  }
}
.includes-slider-wrap {
    width: calc(100% - 600px);
    background: $colorPeach;
    border-bottom-left-radius: 100px;
    padding: 65px 0px 50px 75px;
    opacity: 0;
    transform: translateX(70px);
    animation: translateRight 0.7s 0.7s ease forwards;
    // &.animate {
    //   animation: translateRight 0.7s 0.5s ease forwards;
    // }

    .slick-list {
      margin-bottom: 70px;
    }

    @media (max-width: $breakpoint-laptopL)  {
    padding: 50px 0px 50px 60px;

    .slick-list {
      margin-bottom: 40px;
    }
  }
  @media (max-width: $breakpoint-desktop)  {
    width: 100%;
    padding: 35px 0 20px 35px;

    .slick-dots {
      justify-content: center;
    }
  }
  @media (max-width: $breakpoint-laptopS)  {
     border-bottom-left-radius: 0;
     padding: 35px 0 25px 15px;

  }
}

.includes-title {
  font-size: 3.6rem;
    font-weight: 700;
    color: $colorBlue;
    margin-bottom: 9rem;
    @extend .animateBottomTranslate;
    animation: translateBottom 0.7s 0.3s ease forwards;
    // .animate & {
    //   animation: translateBottom 0.7s 0.1s ease forwards;
    // }
  
    @media (max-width: $breakpoint-mac) {
      margin-bottom: 6rem;
    }
    @media (max-width: $breakpoint-laptopL) {
      margin-bottom: 4rem;
    }
    @media (max-width: $breakpoint-desktop) {
      max-width: 580px;
    }
    @media (max-width: $breakpoint-smart) {
      margin-bottom: 3rem;
      font-size: 2.6rem;
      line-height: 1.1;
    }
}

.includes-list {
  @extend .animateBottomTranslate;
  animation: translateBottom 0.7s 0.5s ease forwards;
    // .animate & {
    //   animation: translateBottom 0.7s 0.3s ease forwards;
    // }

  @media (max-width: $breakpoint-desktop) {
      display: none;
    }
}
.includes-item {
  color: $colorBlue;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 4rem;
  min-height: 35px;
  transition: 200ms;
  cursor: pointer;

  span {
    color: $colorBlue;
    font-size: 2.4rem;
    font-weight: 400;
    transition: 200ms;
        margin-right: 20px;
  }

  &:hover, &.active {
    font-weight: 700;

    span {
      font-weight: 700;
    }
  }

  @media (max-width: $breakpoint-mac) {
      margin-bottom: 3rem;
    }
    @media (max-width: $breakpoint-laptopL) {
      margin-bottom: 2rem;
    }
}
.includes-card {
  outline: none;
  &__image {
    width: 100%;
    height: 460px;
    border-radius: 25px 0px 0px 25px;
    background-image: url('../images/preloader.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $breakpoint-mac) {
      height: 360px;
    }
    @media (max-width: $breakpoint-laptopL) {
      height: 320px;
    }
    @media (max-width: $breakpoint-desktop) {
      height: 280px;
      border-radius: 25px;
    }
    @media (max-width: $breakpoint-laptopS) {
      height: 240px;
      border-radius: 0;
    }
    
  }
  &__title {
    display: none;
    @media (max-width: $breakpoint-desktop)  {
    display: block;
        padding: 15px 25px 15px 15px;
    font-size: 18px;
    color: $colorBlue;
  }
  @media (max-width: $breakpoint-laptopS)  {
        padding: 15px 20px 15px 0;
  }
  }
  &__excerpt {
    padding-top: 7rem;
  max-width: 670px;
  color: $colorBlack;
  font-size: 2rem;
  font-weight: 700;

  @media (max-width: $breakpoint-laptopL) {
       padding-top: 3rem;
    }
    @media (max-width: $breakpoint-desktop)  {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 25px 0 15px;
  }
  @media (max-width: $breakpoint-laptopS)  {
        padding: 0 20px 0 0;
  }
  }

  @media (max-width: $breakpoint-desktop)  {
    padding-right: 15px;
  }
}