.section-performs {
  position: relative;
  background-image: url('../images/bg-expert-network2-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 130px 0 150px;

  &:after {
    @extend .pseudo_element;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 113, 181, 0.15);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  h3 {
    font-size: 3.6rem;
    color: $colorWhite;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10rem;
    @extend .animateBottomTranslate;

    &.animate {
      animation: translateBottom 0.7s 0.1s ease forwards;
    }

  }

  @media (max-width: $breakpoint-laptopL) {
    padding: 110px 0;
  }

  @media (max-width: $breakpoint-laptopS) {
    padding: 75px 0;

    h3 {
      margin-bottom: 7rem;
    }
  }

  @media (max-width: $breakpoint-smart) {
    padding: 75px 0 25px;

    h3 {
      font-size: 2.4rem;
      line-height: 1.1;
      margin-bottom: 5rem;
    }
  }
}

.performs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.performs-item {
  position: relative;
  width: 16.6%;
  padding: 0 20px;
  position: relative;
  text-align: center;
  opacity: 0;

  .animate & {
    &:first-child {
      animation: fadeIn 0.3s 0s linear forwards;
    }

    &:nth-child(2) {
      animation: fadeIn 0.3s .2s linear forwards;
    }

    &:nth-child(3) {
      animation: fadeIn 0.3s .4s linear forwards;
    }

    &:nth-child(4) {
      animation: fadeIn 0.3s .6s linear forwards;
    }

    &:nth-child(5) {
      animation: fadeIn 0.3s 0.8s linear forwards;
    }

    animation: fadeIn 0.3s 1s linear forwards;
  }

  picture {
    display: block;
    margin-bottom: 30px;

    img {
      height: 75px;
    }
  }

  span {
    font-size: 1.4rem;
    color: $colorWhite;
  }

  &:after {
    @extend .pseudo_element;
    right: -5px;
    top: 35px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #dcc2a9;
    border-right: 2px solid #dcc2a9;
    transform: rotate(45deg);
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  &.or-element {
    &:after {
      content: 'or';
      right: -5px;
      top: 35px;
      width: 15px;
      height: 15px;
      border-top: 0;
      border-right: 0;
      transform: rotate(0deg);
      font-size: 16px;
      color: #fff;
    }
  }

  @media (max-width: $breakpoint-laptopS) {
    width: 33.3%;
    margin-bottom: 5rem;

    picture {
      margin-bottom: 15px;
    }

    &:nth-child(3) {
      &:after {
        display: none;
      }
    }
  }

  @media (max-width: $breakpoint-smart) {
    width: 50%;
    padding: 0 10px;

    picture {
      img {
        height: 55px;
      }
    }

    &:after {
      top: 25px;
    }

    &:nth-child(3) {
      &:after {
        display: block;
      }
    }

    &:nth-child(even) {
      &:after {
        display: none;
      }
    }
  }
}