.section-other {
  padding: 100px 0 130px;
  position: relative;

  @media (max-width: $breakpoint-smart) {
    padding: 75px 0 0;
  }
}

.container-other {
  position: relative;
  background: $colorBlueSky;
  padding: 80px 100px 80px 15px;
  z-index: 1;
  @extend .animationTranslateLeft;

  h3 {
    font-size: 3.6rem;
    font-weight: 700;
    color: $colorBlue;
    margin-bottom: 4rem;
    text-align: right;
  }

  @media (max-width: $breakpoint-desktop) {
    padding: 65px 65px 65px 15px;

    h3 {
      text-align: left;
      margin-bottom: 3rem;
    }

    .slick-dots {
      width: 100%;
      justify-content: center;
    }
  }

  @media (max-width: $breakpoint-laptopS) {
    padding: 50px 15px 50px 15px;
  }

  @media (max-width: $breakpoint-smart) {
    h3 {
      font-size: 2.6rem;
    }
  }
}

.other-services-slider {
  display: flex;
  flex-wrap: wrap;

  .slick-list {
    padding: 10px 0;
  }

  .slick-track {
    height: 100%;
  }

  .b-card {
    padding: 0;
    outline: none;
    transition: 0.3s;

    &>a {
      display: inline-block;
      padding: 30px 70px 50px;
      outline: none;

      @media (max-width: $breakpoint-mac) {
        padding: 30px 50px 50px;
      }

      @media (max-width: $breakpoint-laptopS) {
        padding: 30px 35px 35px;
      }
    }

    &:hover {
      box-shadow: 0 0px 9px 0 #c4c4c4;

      h4 {
        color: $colorBlueLight;
      }
    }
  }
}

.card-icon {
  display: inline-block;
  padding-top: 100px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  outline: none;

  &:before {
    @extend .pseudo_element;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 75px 75px;
  }

  &.icon-online {
    &:before {
      background-image: url('../images/online.svg');
    }

  }

  &.icon-network {
    &:before {
      background-image: url('../images/expert-network.svg');
    }

  }

  &.icon-depth {
    &:before {
      background-image: url('../images/in-depth.svg');
    }

  }

  &.icon-market {
    &:before {
      background-image: url('../images/market.svg');
    }

  }
}