@-webkit-keyframes fadeInSlogan {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px) rotate(-90deg);
            transform: translateY(40px) rotate(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(-90deg);
            transform: translateY(0) rotate(-90deg);
  }
}

@keyframes fadeInSlogan {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px) rotate(-90deg);
            transform: translateY(40px) rotate(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(-90deg);
            transform: translateY(0) rotate(-90deg);
  }
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Medium.eot");
  src: url("../fonts/CircularStd/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd/CircularStd-Medium.ttf") format("truetype"), url("../fonts/CircularStd/CircularStd-Medium.svg#CircularStd") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Book.eot");
  src: url("../fonts/CircularStd/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd/CircularStd-Book.svg#CircularStd") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Bold.eot");
  src: url("../fonts/CircularStd/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd/CircularStd-Bold.svg#CircularStd") format("svg");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 10px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'CircularStd', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-family: 'CircularStd', sans-serif;
  font-weight: 400;
  background: #111517;
  line-height: 1.4;
}

body.opened-modal {
  overflow: hidden;
  margin-right: 18px;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.b-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 25px 30px;
}

.b-header__logo {
  max-width: 260px;
  color: blue;
}

.b-header a {
  display: inline-block;
}

@media (max-width: 1366px) {
  .b-intro__content {
    min-height: 400px;
  }
  .b-intro__content h1 {
    font-size: 6.2em;
  }
  .b-modal__side--right {
    padding: 125px 75px 100px 60px;
  }
  .b-modal__side--left {
    padding: 125px 0 100px;
  }
  .page-template-default .b-main {
    padding: 125px 0 100px;
  }
}
/*# sourceMappingURL=style.css.map */